body{
    background-image:url('/images/logo.png');
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position:center;
}
h1,p {
    text-align:center;
}
h2{
    padding: 0.5rem 0 0 1.2rem;
    margin: 1rem auto 0 2rem;
    border-radius: 2rem 2rem 0 0 !important;
    width: 30%;
}
header{
    background: #DB82D0;
    opacity: 0.9;
    border-radius: 7rem 7rem 0 0;
}
header, footer{
    padding: 1rem;
}
footer{
    border-radius: 0 0 1rem 1rem;
}
footer, .toDoList, .completedList{
    background: #e9b2e9;
    opacity: 0.9;
    border-radius: 2rem;
}
i{
    font-size:large;
}
.fa-check{
    margin-left: 2rem;
}
.fa{
    font-weight:bold;
    cursor: pointer;
}
.container{
    max-width:600px;
    margin: 1rem auto auto auto;
}
li{
    list-style:none;
}
th a{
    text-decoration:none;
    cursor: pointer;
    color:rgb(0, 0, 0);
}
th .fa{
    float: right;
}
th{
    border: none !important;
}
.th-sm{
    width: 10px;
}
.th-date{
    width: 100px;
}