/* tags */
body{
    background-image:url('/images/bg.jpg');
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position:center;
}
h1,p {
    text-align:center;
    font-size:1.5rem;
}
h2{
    padding: 0.5rem 0 0 1.2rem;
    margin: 1rem auto 0 2rem;
    border-radius: 2rem 2rem 0 0 !important;
    width: 12rem;
    font-size: 1.3rem;
}
header{
    background: #DB82D0;
    opacity: 0.9;
    border-radius: 7rem 7rem 1rem 1rem;
}
header, footer{
    padding: 1rem;
}
footer{
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
footer, .toDoList, .completedList{
    background: #e9b2e9;
    opacity: 0.9;
    border-radius: 2rem;
}
i{
    font-size:large;
}
li{
    list-style:none;
}
th{
    border: none !important;
}
/* classes */
.fa-check{
    margin-left: 2rem;
}
.fa{
    font-weight:bold;
    cursor: pointer;
}
.container{
    max-width:600px;
    margin: 1rem auto auto auto;
}
th a{
    text-decoration:none;
    cursor: pointer;
    color:rgb(0, 0, 0);
}
th .fa{
    float: right;
}
.th-sm{
    width: 10px;
}
.th-date{
    width: 100px;
}
@keyframes enlarge {
  from {height:1rem;}
  to {height:10rem;}
}
#add-todo-text:focus{
    animation: enlarge 1s;
    animation-fill-mode: forwards;  
}
.palette{
    background-image: url('/images/palette.svg');
    height: 1rem;
    width: 1rem;
}
.palette-wrapper{
    display:flex;
}
.palette-choice{
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #333;
}
#palette-submit{
    cursor: not-allowed;
}
.palette-choice:focus .btn-primary{
    enabled: true;
}
.pc0{
    background-color: #e9b2e9!important;
}
.pc1{
    background-color: #CCE8DB !important;
}
.pc2{
    background-color: #C1D4E3 !important;
}
.pc3{
    background-color: #BEB4D6 !important;
}
.pc4{
    background-color: #FADAE2 !important;
}
.pc5{
    background-color: #CC97C1 !important;
}