            <form id="add_todo_form" action="/add_todo" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="add-todo"><i class="fa fa-sticky-note-o"></i></span>
                    <input type="text" required name="add_todo_input" class="form-control" placeholder="Add a note" aria-label="add_todo_input" aria-describedby="basic-addon1">
                    <input type="submit" value="Add" class="toDoList"/>
                </div>
            </form>