<!-- change text -->
<div class="modal" id="text-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change text</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="modal-inner-form" action="/change/" method="post">
        <div class="modal-body">
          <textarea class="form-control" name="text" id="todo-text"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Go -></button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- colour picker -->
<div class="modal" id="palette-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pick a colour any colour</h5>?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Pick a colour, any colour...
          <div class="palette-wrapper">
            <button onclick="selectPalette(1)" class="palette-choice pc1 fa"></button>
            <button onclick="selectPalette(2)" class="palette-choice pc2 fa"></button>
            <button onclick="selectPalette(3)" class="palette-choice pc3 fa"></button>
            <button onclick="selectPalette(4)" class="palette-choice pc4 fa"></button>
            <button onclick="selectPalette(5)" class="palette-choice pc5 fa"></button>
            <button onclick="selectPalette(0)" class="palette-choice pc0 fa"></button>
          </div>
      </div>
      <div class="modal-footer">
          <form id="palette-inner-form" action="/palette/" method="post">
              <input type="hidden" required id="todo-id" value="">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" data-dismiss="modal">Close</button>
              <button type="submit" disabled="true" id="palette-submit" class="btn btn-primary">Choose</button>
          </form>
      </div>
    </div>
  </div>
</div>