<h2>Todo</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="?o=1">
                    <i class="fa fa-sort-alpha-asc"></i>
                    Name
                </a>
            </th>
            <th>
                <a href="?o=2">
                    <i class="fa fa-sort-alpha-asc"></i>
                    Added
                </a>
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="todo_table">
    </tbody>
</table>

<form id="complete_todo_form" action="/complete_todo/" method="post"></form>
<form id="delete_todo_form" action="/delete_todo/" method="post"></form>