            <h2 class="toDoList">Todo</h2>
            <div class="table-responsive">
                <table class="table table-striped toDoList table-hover">
                    <thead>
                        <tr>
                            <th>
                                <a onclick="getTodos(1)">
                                    <i class="fa fa-sort-alpha-asc"></i>
                                    Name
                                </a>
                            </th>
                            <th class="th-date">
                                <a onclick="getTodos(2)">
                                    <i class="fa fa-sort-alpha-asc"></i>
                                    Added
                                </a>
                            </th>
                            <th class="th-sm">&nbsp;</th>
                            <th class="th-sm">&nbsp;</th>
                            <th class="th-sm">&nbsp;</th>
                            <th class="th-sm">&nbsp;</th>
                            <th class="th-sm">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="todo_table">
                    </tbody>
                </table>
            </div>