<h2>Todo</h2>
<div class="table-responsive">
    <table class="table table-striped toDoList table-hover">
        <thead>
            <tr>
                <th>
                    <a onclick="get_todos(1)">
                        <i class="fa fa-sort-alpha-asc"></i>
                        Name
                    </a>
                </th>
                <th class="th-date">
                    <a onclick="get_todos(2)">
                        <i class="fa fa-sort-alpha-asc"></i>
                        Added
                    </a>
                </th>
                <th class="th-sm">&nbsp;</th>
                <th class="th-sm">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="todo_table">
        </tbody>
    </table>
</div>
<form id="complete_todo_form" action="/complete_todo/" method="post"></form>
<form id="delete_todo_form" action="/delete_todo/" method="post"></form>