<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/jk.css">
    <script type="text/javascript" src="/js/javascript.js" defer charset="utf-8"></script>
    <script src="https://use.fontawesome.com/d52cf08527.js" defer></script>
    <meta name="description" content="This is an example of a to application made in Node. It's pretty cool.">
    <title>Larry the Listmaker</title>
</head>
