    <header>
        <h1>To Do Application by Al</h1>
        <%- include ('components/add_todo') %>
    </header> 
        <%- include ('components/todo_table') %>
        <%- include ('components/completed_table') %>