<table class="table">

    <thead>
        <tr>
            <th scope="col">TO DO</th>
        </tr>
    </thead>
<tbody id="todo_table">

</tbody>
</table>

<form id="complete_todo_form" action="/complete_todo/" method="post"></form>
<form id="delete_todo_form" action="/delete_todo/" method="post"></form>